.end_meeting_button {
  background: #f89821;
}

.header_btns {
  background: rgba(154, 154, 169, 0.1);
  border: 1px solid rgba(196, 196, 196, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.from_header {
  font-weight: 300;
}

.header-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  color: #605bff;
}

.actionitem_btn {
  background: rgba(96, 91, 255, 0.1);
  border: 1px solid rgba(96, 91, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #605bff;
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

.insights_sidebar {
  background: #f1f1f1;
}
